<!-- Navbar Component - DevOps Portfolio -->
<nav class="navbar" role="navigation" aria-label="Main navigation">
    <div class="container navbar-container">
        <!-- Brand Logo -->
        <a href="#home" class="navbar-brand" data-page="./pages/home.html">
            <span>&lt;</span>Shankar<span>/&gt;</span>
        </a>

        <!-- Navigation Links -->
        <ul class="navbar-menu" id="navbar-menu">
            <li>
                <a href="#home" class="navbar-link active" data-page="./pages/home.html">
                    Home
                </a>
            </li>
            <li>
                <a href="#about" class="navbar-link" data-page="./pages/about.html">
                    About
                </a>
            </li>
            <li>
                <a href="#skills" class="navbar-link" data-page="./pages/skills.html">
                    Skills
                </a>
            </li>
            <li>
                <a href="#projects" class="navbar-link" data-page="./pages/projects.html">
                    Projects
                </a>
            </li>
            <li>
                <a href="#experience" class="navbar-link" data-page="./pages/experience.html">
                    Experience
                </a>
            </li>
            <li>
                <a href="#certifications" class="navbar-link" data-page="./pages/certifications.html">
                    Certifications
                </a>
            </li>
            <li>
                <a href="#blog" class="navbar-link" data-page="./pages/blog.html">
                    Blog
                </a>
            </li>
            <li>
                <a href="#contact" class="navbar-link" data-page="./pages/contact.html">
                    Contact
                </a>
            </li>
        </ul>

        <!-- Mobile Menu Toggle -->
        <button class="navbar-toggle" aria-label="Toggle navigation menu" aria-expanded="false">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</nav>
